{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Foodie - Menu</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-grid.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-reboot.min.css' %}">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/starter-template.css' %}" rel="stylesheet">
    <link href="{% static 'css/foodie.css' %}" rel="stylesheet">
</head>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<body>
<nav class="navbar navbar-expand-md fixed-top nav toggler" id="top">
    <div class="container">
        <div class="logo">
            <a href="{% url 'menu' %}"><img src="{% static 'img/foodie1.png' %}" class="img-fluid "
                                            alt="Responsive image"></a>
        </div>
        <div id="mainListDiv" class="main_list">
            <ul class="navlinks">
                <li><a href="{% url 'menu' %}" class="topbartext activ">Menu</a></li>
                <li><a href="{% url 'menu' %}" class="topbartext">Specials</a></li>
                <li><a href="{% url 'cart' %}" class="topbartext">Cart</a></li>
                <li>
                    <div class="lab topbartext activ">
                        <label class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                            Account
                        </label>
                        <div class="dropdown-menu" id="shift">
                            <a class="dropdown-item" href="{% url 'user' %}">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item out" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <span class="navTrigger">
                <i></i>
                <i></i>
                <i></i>
            </span>
    </div>
</nav>

<main role="main" class="container">
    <!-- <div class="starter-template"> -->
    <div class="row center" id="set-head">ACCOUNT SETTINGS</div>
    <br>
    <div class="row center text-center">
        <span id="round-orange">TB</span>
        &nbsp
        &nbsp
        <span class="set-name center">Toast Bread</span>
    </div>
    <br>
    <div class="row center">
        <form method="post" action="{% url 'edit' %}">
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-6">
                    <label for="firstname" class="set-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" aria-describedby="firstname"
                           name="first_name" value="{{ user.first_name }}">
                </div>
                <div class="form-group col-6">
                    <label for="lastname" class="set-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" aria-describedby="lastname" name="last_name"
                           value="{{ user.last_name }}">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-6">
                    <label for="phone" class="set-label">Phone Number</label>
                    <input type="number" class="form-control" id="phone" aria-describedby="phone" name="phone"
                           value="{{ user.customer.phone }}">
                </div>
                <div class="form-group col-6">
                    <label for="address" class="set-label">Address</label>
                    <textarea class="form-control" id="address" name="address">{{ user.customer.address }}</textarea>
                </div>
            </div>
            <button type="submit" class="btn center set-button mx-auto">Update Settings</button>
        </form>
    </div>


    <!-- </div> -->
</main><!-- /.container -->

<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
<!-- Menu Script-->
<script>
    $('.navTrigger').click(function () {
        $(this).toggleClass('active');
        console.log("Clicked menu");
        $("#mainListDiv").toggleClass("show_list");
        $("#mainListDiv").fadeIn();
    });
</script>
</body>
</html>
